/server/.cache
/server/.coverage
/server/.venv
/server/bin
/server/htmlcov
/server/local_config.ini
/server/virtualenv-*
/client/node_modules
/client/local_config.env
/build
*.egg-info
*.pyc
*.sw[op]
__pycache__
**/tags
.vagrant
*.pickle
signspace-map.json
sftp-config.json
signspace2.json
