@import "~styles/variables";

.root {
    position: fixed;
    bottom: 0;
    padding: 16px;
    background-color: $primary-color;
    margin: auto;
    z-index: 100;
}

.add { 
    padding: 10.5px 16px;
    font-size: $font-size-md;
    border-color: $primary-color;
    color: $grey-lighter;
}

.close {
    position: absolute;
    top: 6px;
    right: 14px;
    color: $white;
}
