{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // ES6 rules
    "arrow-body-style": 0,
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "constructor-super": 2,
    "generator-star-spacing": 2,
    "no-class-assign": 2,
    "no-confusing-arrow": 0,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "no-new-symbol": 2,
    "no-this-before-super": 2,
    "no-trailing-spaces": 1,
    "no-useless-constructor": 2,
    "no-var": 0, // (default: 2)
    "max-len": [1, {
        "code": 140
    }],
    "object-shorthand": 0, // (default: 2)
    "prefer-arrow-callback": 0,
    "prefer-const": 0, // (default: 2)
    "prefer-reflect": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-template": 0, // (default: 2)
    "require-yield": 2,
    "template-curly-spacing": 2,
    "yield-star-spacing": [2, "after"],
    
    
    // React rules
    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-curly-spacing": 0, // (default: 2)
    "react/jsx-equals-spacing": 2,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-handler-names": 2,
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": 0, // (default: 2)
    "react/jsx-no-bind": [0, {"allowArrowFunctions": true}], // (default: 2)
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-props": [0, {"callbacksLast": true}], // (default: 2)
    "react/jsx-space-before-closing": [1, "always"], // (default: 2)
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 0,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": 2,
    "react/no-set-state": 0,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": 0, // (default: 2)
    "react/prop-types": 0, // (default: 2)
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 0,
    "react/require-render-return": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/sort-prop-types": [0, {"callbacksLast": true}],
    "react/wrap-multilines": 2,
    
    
    // Variables rules
    "init-declarations": 0,
    "no-catch-shadow": 0,
    "no-delete-var": 2,
    "no-label-var": 0,
    "no-restricted-globals": 0,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-unused-vars": [2, {
      "args": "after-used",
      "vars": "local"
    }],
    "no-use-before-define": 2
  }
}