@import "~styles/variables";

.root {
    position: relative;
    color: $black;
}

:global span.description {
    color: $black;
    padding-left: 8px;
}

:global p.ellipsis {
    width: 90%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom; 
    text-overflow: ellipsis; 
}

.star {
    position: absolute;
    left: 15px;
    top: 1px;

    :global i { 

        color: #bebebe;
        &:hover { color: $orange; }
    }
}

.tools { 
    position: absolute;
    top: 22px;
    right: 10px;
    text-align: center;

     :global li {
        list-style: none;
     }
}