@import "~styles/variables";

.root {

    :global input, :global textarea {
        border: 0;
        outline: 0;
        padding: 12px 16px;
        line-height: 1;
    }
 
    :global textarea {
        height: 200px;
        line-height: 1.5;
        width: 100%;
    }

    :global .input-group {
        border-bottom: 1px solid $teal-light; 
    }

    :global .nav-tabs {
        border-bottom: 0;
        a {
            font-size: $font-size-md;
            i { padding-right: 12px !important; }
        }
    }

    :global .Select-control {
        background-color: transparent; // Fix for invisible border-radius
    }

}

.activity-bar {

    :global .nav-tabs {

        a {
            color: #FFF;
        }

    }

    :global .nav-tabs,
    :global .nav-tabs a,
    :global .nav-tabs + div {
        border-color: transparent !important;
    }


}